<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Vue playground</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
</head>
<body>
<div id="shopping-list">
    <div class="header">
        <h1>{{ header.toLocaleUpperCase() }}</h1>
        <button v-if="state==='default'" class="btn btn-primary" @click="changeState('edit')">Add item</button>
        <button v-else class="btn btn-cancel" @click="changeState('default')">Cancel</button>
    </div>
    <div v-if="state==='edit'">
        <input v-model="newItem" type="text" placeholder="Add item..." @keyup.enter="saveItem">
        <p>{{characterCount}}/200</p>

        <button class="btn btn-primary" v-bind:disabled="newItem.length===0" @click="saveItem">Save item</button>
    </div>
    <ul>
        <li v-for="item in reversedItems" :class="[item.purchased ? 'strikeout' : '', item.highPriority ? 'priority' : '']" @click="tooglePurchased(item)" >{{item.label}}</li>
    </ul>
    <div v-if="items.length===0">Nicely cleaned!!</div>
</div>
<script>
    var shoppingList = new Vue({
        el: '#shopping-list',
        data: {
            state: 'default',
            header: 'Shopping list app',
            newItem: '',
            items: [
                {
                    label: '10 party hats',
                    purchased: true,
                    highPriority: true
                },
                {
                    label: '20 flashbangs',
                    purchased: false,
                    highPriority: true
                },
                {
                    label: '2 socks',
                    purchased: false,
                    highPriority: false
                }
            ]
        },
        methods: {
            saveItem: function () {
                this.items.push({
                        label: this.newItem,
                        purchased: false
                });
                this.newItem = '';
            },
            changeState: function (newState) {
                this.state = newState;
                this.newItem = '';
            },
            tooglePurchased: function(item) {
                item.purchased = !item.purchased;
            }
        },
        computed: {
            characterCount: function() {
                return this.newItem.length;
            },
            reversedItems: function() {
                return this.items.slice(0).reverse();
            }
        }
    })
</script>
</body>
</html>